*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #010103;
}


section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: 0.1rem solid rgb(150, 150, 150);
    background-color: #010103;
}

.header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.2rem;
    color: #fff
}

.header .navbar a:hover{
color: #d3ad7f;
border-bottom: 0.1rem solid #d3ad7f;
padding-bottom: 0.2rem;
font-size: 1.5rem;
}

.icons .fas.fa-search, .fa-solid.fa-cart-shopping {
    display: flex;
    color: white; 
    font-size: 20px;
    cursor: pointer;
  }

  .icons  {
    display: flex;
    gap: 20px;
    color: white; 
    cursor: pointer;
  }

  .icons .fas.fa-search:hover, .fa-solid.fa-cart-shopping:hover{
    font-size: 30px;
  }

  .btn {
    background-color: #d3ad7f;
    color: #fff;
    padding: 1rem 2rem;
    font: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
  }

  .btn:hover{
    letter-spacing: 0.05rem;
  }

  .home-container{
    background: url("./img/mycoffee.png");
    /* background: url("./img/mycoffee.png") no-repeat center center; */
    

    position: center;
    background-size: cover;
  }

  .home-container section{
    display: flex;
    align-items: center;
    min-height: 100vh;
  }

 .home-container .content{
    max-width: 60rem;
}

.content h3{
    color: #fff;
    font-size: 5rem;
}

.content p{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}


.title{
  font-size: 4rem;
  color: #d3ad7f;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.title span{
  color: #fff;
  text-transform: uppercase;
}

.about .row{
  display: flex ;
  align-items: center;
  background-color: #161616;
  gap: 1.5rem;
}


.about .content{
  padding: 2rem;
}

.about h3{
  font-size: 2rem;
  color: #fff;
}

.about p{
  font-size: 1.1rem;
  color: #fff;
  padding: 1rem 0;
  line-height: 1.8;
}


.menu .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box{
  text-align: center;
  border: solid #fff;
  padding: 5rem;
}

.box img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

